body {
    background-color: #636363;
}

div.menu {
    position: fixed;
    right: 0;
    top: 4%;
    width: 100%;
    height: 5%;
    margin-top: -2.5em;
    background-color: #414141;
}

img.icon {
    width: 50px;
    height: 50px;
}

a.menuTextOne {
    position: relative;
    bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

a.menuTextTwo {
    position: relative;
    bottom: 103px;
    left: 125px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

a.menuTextThree {
    position: relative;
    bottom: 186px;
    left: 210px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

hr.one{
    border: none;
    border-left: 5px solid black;
    height: 5vh;
    width: 5px;
    position: relative;
    bottom: 63px;
    right: 90vh;
}

hr.two{
    border: none;
    border-left: 5px solid black;
    height: 5vh;
    width: 5px;
    position: relative;
    bottom: 147px;
    right: 81vh;
}

div.item1 {
    margin-left: 1vh;
    border-style: outset;
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    background-image: url("items/item1.png");
    background-size: 100% 100%;
    display: inline-block;
    border-color: pink;
}

div.item2 {
    margin-left: 1vh;
    border-style: outset;
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    background-image: url("items/item2.jpg");
    background-size: 100% 100%;
    vertical-align: top;
    display: inline-block;
    border-color: pink;
}

div.mitem1 {
    margin-left: 1vh;
    border-style: outset;
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    background-image: url("items/mitem1.png");
    background-size: 100% 100%;
    display: inline-block;
    border-color: pink;
}

div.mitem2 {
    margin-left: 1vh;
    border-style: outset;
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    background-image: url("items/mitem2.png");
    background-size: 100% 100%;
    display: inline-block;
    border-color: pink;
}

div.mitem3 {
    margin-left: 1vh;
    border-style: outset;
    border-radius: 10px;
    width: 25vh;
    height: 15vh;
    background-image: url("items/mitem3.png");
    background-size: 100% 100%;
    display: inline-block;
    border-color: pink;
}

.wrapper {
    display: flex;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.white {
    color: white;
}

video.model::-webkit-media-controls-timeline {
    display: none;
}